#card-image{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 0%;

}
#card-footer{
    background-color: transparent;
    border-top: none;
}

#carrousel-button{
    width: 50%;
    display: inline;
}
.erase-button{
    float: right;

}
.erase-img{
    width: 3vw;
}




