.link-unstyled,
.link-unstyled:link,
.link-unstyled:hover {
    color: black;
    text-decoration: none;
}

.backgroundCarrusel {
    background-color: #BDA4EF;
    width: 100vw;
    height: 16vh;
    max-height: 320px;
    position: absolute;
    top: 9vh;
}

.carrusel {
    position: relative;
}

.card {
    height: 475px;
}